<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.local" value="./local-packages" />
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <!-- Microsoft.Azure.WebJobs.Extensions.Sql package should be from nuget.local, everything else from
  nuget.org. -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.local">
      <package pattern="Microsoft.Azure.WebJobs.Extensions.Sql" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

</configuration>