trigger: none

pr: none

schedules:
  - cron: "0 0 * * *"
    displayName: Mon-Fri at Midnight
    branches:
      include:
        - main
    always: true

variables:
  solution: '**/*.sln'
  configuration: 'Release'
  versionMajor: 1
  versionMinor: 0
  versionMajorMinor: '$(versionMajor).$(versionMinor)'  # This variable is only used for the counter so we reset properly when either major or minor is bumped
  versionPatch: $[counter(variables['versionMajorMinor'], 0)] # This will reset when we bump minor version
  binariesVersion: '$(versionMajor).$(versionMinor).$(versionPatch)'
  nugetVersion: '$(binariesVersion)-preview'
  LGTM.UploadSnapshot: true
  Semmle.SkipAnalysis: true

stages:
- stage: BuildPublish
  displayName: 'Release Build and Publish'

  jobs:
  - job: BuildTest
    displayName: 'Build and Test on '

  # Verifies cross-platform build and test
    strategy:
      matrix:
        mac:
          imageName: 'macos-latest'
          # Disabling integration tests on macOS due to issues with running MSSQL on Docker
          # We need to set up a self-hosted agent with Docker running by default: https://github.com/microsoft/azure-pipelines-tasks/issues/12823
          testFilter: '--filter FullyQualifiedName!~Integration'
          testServer: ''
        windows:
          imageName: 'windows-latest'
          testFilter: ''
          testServer: '(LocalDb)\MSSQLLocalDB'

    pool:
      vmImage: '$(imageName)'

    workspace:
      clean: all

    steps:
      - template: 'template-steps-build-test.yml'
        parameters:
          solution: '$(solution)'
          configuration: '$(configuration)'
          nugetVersion: '$(nugetVersion)'
          binariesVersion: '$(binariesVersion)'
          testFilter: '$(testFilter)'

  - job: BuildTestPublishLinux
    displayName: 'Build, Test and Publish on linux'

    pool:
      vmImage: 'ubuntu-latest'

    workspace:
      clean: all

    steps:
      - template: 'template-steps-build-test.yml'
        parameters:
          solution: '$(solution)'
          configuration: '$(configuration)'
          nugetVersion: '$(nugetVersion)'
          binariesVersion: '$(binariesVersion)'
          testFilter: ''
          testServer: ''

      - template: 'template-steps-publish.yml'
        parameters:
          configuration: '$(configuration)'

- stage: BuildJava
  displayName: 'Release Build and Publish Java Library'
  dependsOn: []
  jobs:
  - job: BuildJavaLibrary
    displayName: Build Java Library

    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - template: build-release-java.yml
