trigger: none

pr:
  branches:
    include:
    - main

variables:
  solution: '**/*.sln'
  configuration: 'Debug'

stages:
- stage: Build
  displayName: 'PR Validation'

  jobs:
  - job: BuildTest
    displayName: 'Build and Test on'

    # Verifies cross-platform build and test
    strategy:
      matrix:
        mac:
          imageName: 'macos-latest'
          # Disabling integration tests on macOS due to issues with running MSSQL on Docker
          # We need to set up a self-hosted agent with Docker running by default: https://github.com/microsoft/azure-pipelines-tasks/issues/12823
          testFilter: '--filter FullyQualifiedName!~Integration'
          testServer: ''
        windows:
          imageName: 'windows-latest'
          testFilter: ''
          testServer: '(LocalDb)\MSSQLLocalDB'
        linux:
          imageName: 'ubuntu-latest'
          testFilter: ''
          testServer: ''

    pool:
      vmImage: '$(imageName)'

    workspace:
      clean: all

    steps:
    - template: 'template-steps-build-test.yml'
      parameters:
        solution: '$(solution)'
        configuration: '$(configuration)'
        nugetVersion: '1.0.0-test'
        testFilter: '$(testFilter)'
        nodeModulesPath: ''
        serverPassword: ''