trigger: none

parameters: # parameters are shown up in ADO UI in a build queue time
- name: 'ReleaseType'
  displayName: 'Type of release'
  type: string
  default: preview
  values:
    - full
    - preview

pr: none

schedules:
  - cron: "0 0 * * *"
    displayName: Mon-Fri at Midnight
    branches:
      include:
        - main
    always: true

variables:
  solution: '**/*.sln'
  configuration: 'Release'
  versionMajor: 2
  versionMinor: 0
  versionMajorMinor: '$(versionMajor).$(versionMinor)'  # This variable is only used for the counter so we reset properly when either major or minor is bumped
  versionPatch: $[counter(variables['versionMajorMinor'], 0)] # This will reset when we bump minor version
  binariesVersion: '$(versionMajor).$(versionMinor).$(versionPatch)'
  nugetVersion: $[replace(replace('True', eq('${{ parameters.ReleaseType }}', 'full'), '$(binariesVersion)'),'True','$(binariesVersion)-preview')] # This will set the preview tag to the version based on the ReleaseType parameter.
  supportedVersion: $[replace(replace('True', eq('${{ parameters.ReleaseType }}', 'full'), '$(versionMajor).*'),'True','$(versionMajor).*-*')] # This will set the expression to pull the preview vs full version based on the ReleaseType parameter.
  LGTM.UploadSnapshot: true
  Semmle.SkipAnalysis: true

stages:
- stage: BuildPublish
  displayName: 'Release Build and Publish'

  jobs:
  - job: BuildTest
    displayName: 'Build and Test on '

  # Verifies cross-platform build and test
    strategy:
      matrix:
        mac:
          imageName: 'macos-latest'
          # Disabling integration tests on macOS due to issues with running MSSQL on Docker
          # We need to set up a self-hosted agent with Docker running by default: https://github.com/microsoft/azure-pipelines-tasks/issues/12823
          testServer: ''
        windows:
          imageName: 'windows-latest'
          testServer: '(LocalDb)\MSSQLLocalDB'

    pool:
      vmImage: '$(imageName)'

    workspace:
      clean: all

    timeoutInMinutes: '90'

    steps:
      - template: 'template-steps-build-test.yml'
        parameters:
          solution: '$(solution)'
          configuration: '$(configuration)'
          nugetVersion: '$(nugetVersion)'
          binariesVersion: '$(binariesVersion)'
          supportedVersion: '$(supportedVersion)'

  - job: BuildTestPublishLinux
    displayName: 'Build, Test and Publish on linux'

    pool:
      vmImage: 'ubuntu-latest'

    workspace:
      clean: all

    timeoutInMinutes: '90'

    steps:
      - template: 'template-steps-build-test.yml'
        parameters:
          solution: '$(solution)'
          configuration: '$(configuration)'
          nugetVersion: '$(nugetVersion)'
          binariesVersion: '$(binariesVersion)'
          supportedVersion: '$(supportedVersion)'
          testServer: ''

      - template: 'template-steps-publish.yml'
        parameters:
          configuration: '$(configuration)'

- stage: BuildJava
  displayName: 'Release Build and Publish Java Library'
  dependsOn: []
  jobs:
  - job: BuildJavaLibrary
    displayName: Build Java Library

    pool:
      vmImage: 'windows-latest'

    steps:
    - template: build-release-java.yml
