steps:
  - task: Maven@3
    displayName: Build library
    inputs:
      mavenPomFile: java-library/pom.xml
      options: --batch-mode --define=gpg.skip --define=org.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn --update-snapshots

  - powershell: |
      $prefix = 'azure-functions-java-library-sql-*'
      $source = 'java-library'
      $destination = '$(Build.ArtifactStagingDirectory)/java-library'
      New-Item $destination -ItemType Directory
      Copy-Item "$source/pom.xml" "$destination/$prefix.pom"
      Copy-Item "$source/target/$prefix.jar" "$destination/$prefix.jar"
      Copy-Item "$source/target/$prefix-javadoc.jar" "$destination/$prefix-javadoc.jar"
      Copy-Item "$source/target/$prefix-sources.jar" "$destination/$prefix-sources.jar"
    displayName: Copy output files

  - task: ManifestGeneratorTask@0
    displayName: Generate SBOM manifest
    inputs:
      buildDropPath: $(Build.ArtifactStagingDirectory)/java-library
      packageName: Azure Functions SQL Java Bindings

  - publish: $(Build.ArtifactStagingDirectory)
    displayName: Publish library package
    artifact: drop-java-library


