parameters:
  configuration: ''
  solution: ''
  nugetVersion: ''

steps:
- task: UseDotNet@2
  displayName: 'Install .NET Core SDK 3.1.x for Build'
  inputs:
    version: '3.1.x'

- script: npm install -g azure-functions-core-tools@3 --unsafe-perm true
  displayName: 'Install Azure Functions Core Tools'

- task: DockerInstaller@0
  condition: ne(variables['Agent.OS'], 'Darwin')
  displayName: Docker Installer
  inputs:
    dockerVersion: 17.09.0-ce
    releaseType: stable

# Running Docker on MacOS requires some extra steps: https://apple.stackexchange.com/questions/373888/how-do-i-start-the-docker-daemon-on-macos
- script: |
    brew install docker-machine docker
    brew cask install virtualbox
    docker-machine create --driver virtualbox default
    docker-machine restart
    docker-machine regenerate-certs default
    eval "$(docker-machine env default)"
    docker ps
  condition: eq(variables['Agent.OS'], 'Darwin')
  displayName: Run Docker on Mac
        
- script: docker pull mcr.microsoft.com/mssql/server:2019-latest
  displayName: Pull MSSQL Docker Image

- script: 'docker run -e "ACCEPT_EULA=Y" -e "SA_PASSWORD=Placeholder1" -e "MSSQL_PID=Express"
   -p 1433:1433 --name sql1 -h sql1
   -d mcr.microsoft.com/mssql/server:2019-latest'
  displayName: Start Server in Docker Container

- task: DotNetCoreCLI@2
  displayName: '.NET Restore'
  inputs:
    command: restore
    projects: '${{ parameters.solution }}'

  # Build outputs directly into staging directory
- task: DotNetCoreCLI@2
  displayName: '.NET Build'
  inputs:
    command: build
    projects: '${{ parameters.solution }}'
    arguments: '--configuration ${{ parameters.configuration }} --output $(Build.ArtifactStagingDirectory) -p:PackageVersion="${{ parameters.nugetVersion }}"'

  # Above build task generates a nuget package, this extra step packs into a -preview nuget with same version #
  # Extra parameter GeneratePackageOnBuild=false is needed for issue https://github.com/dotnet/sdk/pull/3473#issuecomment-516612070
- task: DotNetCoreCLI@2
  displayName: '.NET Pack Preview Nuget'
  inputs:
    command: custom
    custom: pack
    projects: '${{ parameters.solution }}'
    arguments: '--configuration ${{ parameters.configuration }} --output $(Build.ArtifactStagingDirectory) -p:PackageVersion="${{ parameters.nugetVersion }}-preview" -p:GeneratePackageOnBuild=false'

- task: DotNetCoreCLI@2
  displayName: '.NET Test'
  env:
    SA_PASSWORD: 'Placeholder1'
  inputs:
    command: test
    projects: '${{ parameters.solution }}'
    arguments: '--configuration ${{ parameters.configuration }} /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:CoverletOutput=$(Build.ArtifactStagingDirectory)\TestResults\coverage\'

- script: |
    docker stop sql1
    docker rm sql1
  displayName: 'Stop and Remove SQL Server Image'